#cartItems {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  
  .cartItem img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  #cartTotal {
    font-weight: bold;
    margin-top: 20px;
  }